@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "variables";
@import "mixin";
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
button{
  transition: .4s;
  border: none;
  cursor: pointer;
}

body{
  font-family: "Playfair", sans-serif;
  background: white;
  min-height: 100vh;
}
#slider{
  padding: 40px 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background:  #10375C;
  border-radius: 3px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 445px;
  height: 393px;
  transition: .6s;
}
.swiper-slide:hover{
  transform: scale(1.1);
}
.swiper-slide p{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 365px;
  color: #FFFFFF;
  padding: 47px 0 49px 0;
}
.swiper-slide-img{
  display: flex;
  align-items: center;
}
.swiper-slide-img-text h3{
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.swiper-slide-img-text h4{
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}


