@import "mixin";
@import "global";
@import "variables";

#navbar{
  padding: 20px 0;
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: 2s navbar alternate;
    @keyframes navbar {
      0% {
        transform: translateX(-500px);
        opacity: 1;
      }

      50% {
        transform: scale(1.1);
        color: aqua;
      }
      75% {
        color: fuchsia;
      }
      100%{
        transform: translateX(0);
      }

    }
    h1{
      font-weight: 700;
      font-size: 24px;
      color: #10375C;
      padding-left: 40px;
    }
    &--btn {
      button {
        font-weight: 700;
        font-size: 16px;
        color: #FF5722;
        background: #FFFFff;
        box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
        padding: 12px 24px;
        &:hover{
          transform: scale(1.1);
          background: #FF5722;
          color: #FFFFff;
        }
      }
    }
    &--nav{
      a{
        font-weight: 700;
        font-size: 16px;
        color: #222831;
        padding: 0 20px;
      }
    }
  }
}

#space{
  padding: 40px 0;
  .space{
    &--content{
      display: flex;
      align-items: center;
      justify-content: space-around;
      p{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        width: 382px;
        color: #6A6A6A;
      }
      &__tittle{
        h1{
          font-weight: 700;
          font-size: 52px;
          line-height: 67px;
          color: #10375C;
          width: 667px;
          span{
            color: #DD2C00;
          }
        }
        &--text{
          display: flex;
          align-items: center;
          h4{
            font-weight: 500;
            font-size: 20px;
            color: #222831;
            padding-bottom: 10px;
          }
          &__line{
            width: 73px;
            height: 2px;
            background: #222831;
            margin-left: 15px;
          }
        }
      }
    }
    &--img{
      position: relative;
      &__img{
        position: absolute;
        right: -189px;
      }
      &__block{
        position: absolute;
        top: 70px;
        left: 30px;
        width: 445px;
        height: 459px;
        background: #10375C;
        h1{
          font-weight: 700;
          font-size: 34px;
          color: #FFFFFF;
          text-align: center;
          padding: 42px 0 29px 0;
        }
        button{
          font-weight: 700;
          font-size: 18px;
          color: #FFFFFF;
          background: #FF5722;
          width: 363px;
          height: 53px;
          margin-left: 40px;
          margin-top: 29px;
          &:hover{
            transform: scale(1.1);
            background: #FFFFFF;
            color: #FF5722;
            border: 2px solid #FF5722;
          }
        }
        &--select{
          padding: 8px 40px;
          select{
            background: #0D2C4A;
            width: 365px;
            height: 68px;
            border: none;
            outline: none;
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;
            opacity: 0.35;
            padding: 10px 10px;
            }
          }
        }
      }
    }
  }

#our {
  padding: 700px 0;

  .our {
    &--text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-weight: 700;
        font-size: 40px;
        color: #10375C;
      }

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #9A9A9A;
        width: 452px;
      }

      &__icon {
        ion-icon{
          color: orange;
          font-size: 30px;
          padding: 0 10px;
        }
      }
    }
    &--group{
      display: flex;
      align-items: center;
      padding-top: 56px;
      &__img{
        position: relative;
        &--img{
          position: absolute;
        }
        &--block{
          position: absolute;
          top: 347px;
          width: 72px;
          height: 72px;
          background: #FF5722;
          @include center();
          ion-icon{
            color: #FFFFFF;
            font-size: 30px;
          }
        }
      }
      &__private{
        position: relative;
        &--block{
          position: absolute;
          width: 350px;
          height: 467px;
          background: #10375C;
          left: 400px;
          h1{
            font-weight: 400;
            font-size: 32px;
            color: #FFFFFF;
            text-align: center;
            padding: 144px 0 14px 0;
          }
          p{
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            width: 253px;
            text-align: center;
            color: #FFFFFF;
            padding-left: 41px;
          }
          &__square{
            position: absolute;
            width: 255px;
            height: 72px;
            background: #FF5722;
            bottom:-1px;
            &--text {
              display: flex;
              align-items: center;
              justify-content: space-around;
              padding-top: 20px;
              h3 {
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                color: #FFFFFF;
              }

              ion-icon {
                font-size: 30px;
                color: #FFFFFF;
              }
            }
          }
        }
      }
      &__image{
        position: relative;
        &--image{
          position: absolute;
          left: 800px;
          top: 10px;
          }
        &--block{
          position: absolute;
          top: 347px;
          width: 72px;
          height: 72px;
          background: #FF5722;
          @include center();
          left: 800px;
          ion-icon{
            color: #FFFFFF;
            font-size: 30px;
          }
        }
      }
    }
  }
}

#your{
  padding: 40px 0;
  .your{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--group{
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__content{
        display: flex;
        align-items: start;
        padding: 32px 0;
        ion-icon{
          font-size: 25px;
          color: #0D2C4A;
        }
        &--text{
          padding-left: 24px;
          h1{
            font-weight: 400;
            font-size: 32px;
            color: #10375C;
            padding-bottom: 8px;
          }
          p{
            font-weight: 400;
            font-size: 16px;
            color: #9A9A9A;
          }
        }
      }
    }
    &--block{
      width: 540px;
      height: 421px;
      background: #10375C;
      h1{
        font-weight: 700;
        font-size: 40px;
        color: #FFFFFF;
        width: 433px;
        line-height: 30px;
        padding-left: 53px;
        padding-top: 8px;
      }
      p{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        width: 433px;
        color: #FFFFFF;
        padding-left: 53px;
        padding-top: 24px;
      }
      &__text{
        display: flex;
        align-items: center;
        padding-top: 54px;
        h3{
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
          padding-left: 53px;
        }
        &--line{
          width: 73px;
          height: 2px;
          background: #FFFFFF;
        }
      }
    }
  }
}

#all{
  padding: 40px 0;
  .all{
    &--our{
      display: flex;
      align-items: center;
      h2{
        font-weight: 500;
        font-size: 20px;
        color: #222831;
        padding-right: 10px;
      }
      &__line{
        width: 73px;
        height: 2px;
        background: #222831;
      }
    }
    h1{
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
      width: 570px;
      color: #10375C;
      padding: 8px 0  56px 0;
    }
    &--group{
      display: flex;
      align-items: start;
      justify-content: space-around;
      position: relative;
      &__line{
        position: relative;
        &--square{
          width: 4px;
          height: 40px;
          background: #FF5722;
        }
        &--line{
          width: 4px;
          height: 160px;
          background: #DFDFDF;
        }
        h4{
          position: absolute;
          font-weight: 500;
          font-size: 18px;
          color: #10375C;
          transform: rotate(-180deg);
          bottom: -60px;
          left: -25px;
        }
      }
      &__text{
        h3{
          font-weight: 700;
          font-size: 20px;
          color: #222831;
          padding: 48px 0 24px 0;
        }
        h4{
          font-weight: 700;
          font-size: 20px;
          color: #222831;
          padding: 24px 0 48px 0;
        }
        button{
          font-weight: 700;
          font-size: 20px;
          color: #FFFFFF;
         padding: 24px 182px 24px 24px;
          background: #FF5722;
          margin-left: -30px;
          &:hover{
            transform: scale(1.1);
            background: transparent;
            border: 2px solid #10375C;
            color: #10375C;
          }
        }
      }
    }
  }
}

#gallery{
  padding: 40px 0;
  .gallery{
    &--line{
      display: flex;
      align-items: center;
      padding-left: 700px;
      h4{
        font-weight: 500;
        font-size: 20px;
        color: #222831;
        padding-right: 10px;
      }
      &__line{
        width: 73px;
        height: 2px;
        background: #222831;
      }
    }
    h1{
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
      width: 496px;
      color: #10375C;
      padding: 8px 0 49px 700px;
    }
    &--icon{
      display: flex;
      ion-icon{
        font-size: 25px;
        color: orange;
        padding-left: 700px;
      }
    }
    &--img{
      display: flex;
      &__img1{
        width: 230px;
        height: 417px;
        margin-left: -200px;
        padding-right: 15px;
      }
      &__img2{
        width: 445px;
        height: 606px;
        padding: 0 15px;
      }
      &__img3{
        width: 350px;
        height: 350px;
        padding: 0 15px;
      }
      &__img4{
        width: 320px;
        height: 350px;
        padding: 0 15px;
      }
    }

  }
}

#who{
  padding: 40px 0;
  .who{
    h1{
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      color: #0D2C4A;
    }
    p{
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #9A9A9A;
      padding: 24px 0 70px 0;
    }
    &--img{
      img{
        padding: 0 20px;
      }
    }
  }
}

#what{
  padding: 40px 0;
  .what{
    &--line{
      display: flex;
      align-items: center;
      h4{
        font-weight: 500;
        font-size: 20px;
        color: #222831;
        padding-right: 10px;
      }
      &__line{
        width: 73px;
        height: 2px;
        background: #222831;
      }
    }
    &--text{
      display: flex;
      align-items: end;
      justify-content: space-between;
      h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 51px;
        width: 399px;
        color: #10375C;
        padding-top: 10px;
      }
      &__icon{
        ion-icon{
          font-size: 25px;
          color: orange;
        }
      }
    }
  }
}

#find{
  padding: 40px 0;
  .find{
    h1{
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
      text-align: center;
      width: 578px;
      color: #10375C;
      padding: 148px 215px 54px 215px;
    }
    &--block{
      &__blocks{
        position: relative;
        &--square{
          width: 361px;
          height: 174px;
          background: rgba(223, 223, 223, 0.5);
          filter: blur(1px);
          z-index: -3;
          position: absolute;
          @include center();
          &__square {
            position: absolute;
            width: 350px;
            height: 171px;
            background: #FFFFFF;
            h1 {
              width: 270px;
              font-weight: 400;
              font-size: 26px;
              line-height: 33px;
              text-align: center;
              color: #000000;
              padding: 42px 40px 63px 40px;
            }
          }
        }
        &--icons{
          width: 48px;
          height: 64px;
          background: #FF5722;
          transform: rotate(90deg);
          position: absolute;
          top: 130px;
          left: 140px;
          @include center();
          ion-icon{
            font-size: 25px;
            color: #FFFFFF;
          }
        }
      }
      &__blocks2{
        position: relative;
        left: 400px;
        &--square{
          position: absolute;
          width: 350px;
          height: 171px;
          background: #FF5722;
          @include center();
          h1{
            font-weight: 400;
            font-size: 26px;
            text-align: center;
            color: #FFFFFF;
            width: 270px;
          }
        }
        &--icons{
          position: absolute;
          width: 48px;
          height: 64px;
          background: #FFFFFF;
          transform: rotate(90deg);
          top: 130px;
          left: 140px;
          @include center();
          ion-icon{
            font-size: 25px;
            color: orange;
          }
        }
      }
      &__blocks3{
        position: relative;
        left: 790px;
        &--square{
          width: 361px;
          height: 174px;
          background: rgba(223, 223, 223, 0.5);
          filter: blur(1px);
          z-index: -3;
          position: absolute;
          @include center();
          &__square {
            position: absolute;
            width: 350px;
            height: 171px;
            background: #FFFFFF;
            h1 {
              width: 270px;
              font-weight: 400;
              font-size: 26px;
              line-height: 33px;
              text-align: center;
              color: #000000;
              padding: 42px 40px 63px 40px;
            }
          }
        }
        &--icons{
          width: 48px;
          height: 64px;
          background: #FF5722;
          transform: rotate(90deg);
          position: absolute;
          top: 130px;
          left: 140px;
          @include center();
          ion-icon{
            font-size: 25px;
            color: #FFFFFF;
          }
        }
      }
    }

  }
}

#news {
  padding: 40px 0;
  .news {
    &--text {
      padding-top: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-weight: 700;
        font-size: 40px;
        color: #10375C;
      }

      &__icon {
        display: flex;
        align-items: center;

        h4 {
          font-weight: 400;
          font-size: 16px;
          color: #FF5722;
        }

        ion-icon {
          font-size: 25px;
          color: orange;
          padding-left: 10px;
        }
      }
    }
    &--blocks {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 56px;
      &__square {
        width: 380px;
        height: 320px;
        background: #F8F8F8;
        margin-right: 30px;
        h1 {
          font-weight: 700;
          font-size: 32px;
          color: #222831;
          width: 315px;
          padding-left: 32px;
          padding-top: 32px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          color: #9A9A9A;
          width: 315px;
          padding: 24px 32px 17px 33px
        }

        &--img {
          display: flex;
          align-items: center;
          padding-left: 32px;
          &__text {
            padding-left: 23px;
            h3{
              font-weight: 500;
              font-size: 18px;
              color: #10375C;
            }
            h4{
              font-weight: 400;
              font-size: 16px;
              color: #9A9A9A;
            }
          }
        }
      }
      &__minimal{
        padding: 23px 15px;
        &--square{
          width: 350px;
          height: 116px;
          background: #F8F8F8;
          h1{
            font-weight: 400;
            font-size: 22px;
            width: 318px;
            color: #222831;
            padding-bottom: 5px;
          }
          h4{
            font-weight: 500;
            font-size: 16px;
            color: #9A9A9A;
          }
        }
      }
    }
  }
}

#became{
  padding: 40px 0;
  background: #10375C;
  .became{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--text{
      h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 51px;
        width: 445px;
        color: #FFFFFF;
      }
      h4{
        font-weight: 400;
        font-size: 20px;
        width: 429px;
        color: #DFDFDF;
        padding: 16px 0 33px 0;
      }
      button{
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        background: #FF5722;
        padding: 12px 114px;
        margin-bottom: 90px;
        &:hover{
          transform: scale(1.1);
          background: #10375C;
          border: 2px solid #FFFFFF;
        }
      }
      &__line{
        display: flex;
        align-items: center;
        padding: 71px 0 8px 0;
        h3{
          font-weight: 500;
          font-size: 20px;
          color: #F8F8F8;
        }
        &--line{
          width: 73px;
          height: 2px;
          background: #F8F8F8;
        }
      }
    }
    &--img{
      position: relative;
      &__boy{
        position: absolute;
        right: 5px;
        top: -50px;
      }
    }
  }
}

#footer{
  padding: 40px 0;
  background: #0D2C4A;
  .footer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    &--frispes{
      h1{
        font-weight: 700;
        font-size: 52px;
        color: #FFFFFF;
      }
      p{
        width: 260px;
        font-weight: 400;
        font-size: 16px;
        color: #F8F8F8;
        padding: 16px 0 25px 0;
      }
      &__icon{
        display: flex;
        align-items: center;
        ion-icon{
          font-size: 25px;
          color: white;
          padding: 0 10px;
        }
      }
    }
    &--spaces{
      h2{
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        opacity: 0.5;
        padding-bottom: 24px;
      }
      h3{
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        padding-bottom: 9px;
      }
    }
  }
}
